*{
    /* border: solid 1px #000; */
}

.App {
  text-align: center;
}
.header{
  display: flex;
  justify-content: space-around;
}
.avatar{
  width: 150px;
  border-radius: 50%;
}
.user-intro, .user-text{
  max-width: 250px;
}
.left-bar{

}
.main-content{
  display: flex;
  justify-content: space-around;
}
.user-other{
  max-width: 100px;
  border-radius: 50%;
}
